$text:#9e9e9e;
$gray:#f9f9f9;
$dark-green:#003500;
$span: #009d3a;
$shadow: 0 0.25rem 0.2rem rgba(0,0,0,0.4),
0 0.5rem 0.9rem rgba(0,0,0,0.1),
0 1.2rem 1.5rem rgba(0,0,0,0.1);
$border:1px solid rgba(0, 0, 0, 0.1);