.spinner{
  background: $gray;
  width:100%;
  height:100vh;
  text-align: center;
  z-index: 9999;
  position: fixed;
  .wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    i{
      font-size: 3rem;
      margin-bottom: 1rem;
      color:$span;
      animation: rotating 2.5s infinite;
    }
    h3 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      line-height: 2.5rem;
      color:$span;
      border-right: .1em solid $span;/* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .1em; /* Adjust as needed */
      animation:
              typing 2s infinite,
              blink-caret .5s step-end infinite;
    }
  }
}

