.spinner {
  background: #f9f9f9;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 9999;
  position: fixed; }
  .spinner .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .spinner .wrapper i {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #009d3a;
      animation: rotating 2.5s infinite; }
    .spinner .wrapper h3 {
      overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      line-height: 2.5rem;
      color: #009d3a;
      border-right: 0.1em solid #009d3a;
      /* The typwriter cursor */
      white-space: nowrap;
      /* Keeps the content on a single line */
      margin: 0 auto;
      /* Gives that scrolling effect as the typing happens */
      letter-spacing: .1em;
      /* Adjust as needed */
      animation: typing 2s infinite, blink-caret .5s step-end infinite; }

/* The typing effect */
@keyframes typing {
  0% {
    width: 0; }
  25% {
    width: 100%; }
  50% {
    width: 80%; }
  75% {
    width: 100%; }
  100% {
    width: 80%; } }
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #009d3a; } }
@keyframes rotating {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(-360deg); } }
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
* {
  box-sizing: border-box; }

body {
  background: #ADA996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  body .container {
    height: 500px;
    width: 750px;
    margin-top: 400px;
    position: relative;
    transition: 0.5s; }
    body .container img {
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      position: absolute;
      width: 100%;
      transition: 0.5s; }
  body .container:hover img:nth-child(5) {
    -webkit-transform: translate(200px, -200px) skew(30deg);
    -moz-transform: translate(200px, -200px) skew(30deg);
    -ms-transform: translate(200px, -200px) skew(30deg);
    -o-transform: translate(200px, -200px) skew(30deg);
    transform: translate(200px, -200px) skew(30deg);
    opacity: 1; }
  body .container:hover img:nth-child(4) {
    -webkit-transform: translate(160px, -160px) skew(30deg);
    -moz-transform: translate(160px, -160px) skew(30deg);
    -ms-transform: translate(160px, -160px) skew(30deg);
    -o-transform: translate(160px, -160px) skew(30deg);
    transform: translate(160px, -160px) skew(30deg);
    opacity: 0.8; }
  body .container:hover img:nth-child(3) {
    -webkit-transform: translate(120px, -120px) skew(30deg);
    -moz-transform: translate(120px, -120px) skew(30deg);
    -ms-transform: translate(120px, -120px) skew(30deg);
    -o-transform: translate(120px, -120px) skew(30deg);
    transform: translate(120px, -120px) skew(30deg);
    opacity: 0.6; }
  body .container:hover img:nth-child(2) {
    -webkit-transform: translate(80px, -80px) skew(30deg);
    -moz-transform: translate(80px, -80px) skew(30deg);
    -ms-transform: translate(80px, -80px) skew(30deg);
    -o-transform: translate(80px, -80px) skew(30deg);
    transform: translate(80px, -80px) skew(30deg);
    opacity: 0.4; }
  body .container:hover img:nth-child(1) {
    -webkit-transform: translate(40px, -40px) skew(30deg);
    -moz-transform: translate(40px, -40px) skew(30deg);
    -ms-transform: translate(40px, -40px) skew(30deg);
    -o-transform: translate(40px, -40px) skew(30deg);
    transform: translate(40px, -40px) skew(30deg);
    opacity: 0.2; }

/*# sourceMappingURL=layer.css.map */
