@import "format";
@import "spinner";
@import "effects";
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1.2px;
}

.signBody{
  height:100vh;
  background: url("../img/signinbackground.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  .container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:40px;
    height:350px;
    min-width:600px;
    text-align: center;
    background: rgba(0, 0, 0, .8);
    border-radius: 10px;
    box-shadow: 10px 15px 30px rgba(0,0,0,.5);
    h1{
      color:#fff;
      margin:15px;
    }
    .inputBox{
      position: relative;
      width:100%;
      text-align: left;
      padding:5px;
      input{
        width:100%;
        padding:10px 0;
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 25px;
        border:none;
        border-bottom: 1px solid #fff;
        outline:none;
        background: transparent;
      }
      label{
        position:absolute;
        top:0;
        left:0;
        color:#fff;
        font-size: 20px;
        font-weight: bold;
        transition: 0.5s;
        letter-spacing: 1px;
      }
      input:focus ~ label,
      input:valid ~ label {
        top: -10px;
        color: #3d5fa8;
        font-size: 16px;
      }
    }
    input[type="submit"]{
      cursor:pointer;
      border: none;
      outline:none;
      color:#fff;
      background:#3d5fa8;
      border-radius: 5px;
      font-size: 18px;
      padding: 18px 30px;
      &:hover{
        background:#002c75;
      }
    }
  }
}

@media (max-width:768px) {
  .signBody{
    width:100%;
    height:100vh;
    background-size: cover;
    .container{
      min-width: 500px;
    }
  }
}
@media (max-width:500px) {
  .signBody{
    width:100%;
    height:100vh;
    background-size: cover;
    .container{
      padding:25px;
      min-width: 280px;
      min-height: 250px;
      h1{
        font-size:25px;
        margin:8px;
      }
      .inputBox{
        margin:20px 0;
        input{
          font-size: 18px;
        }
        input:focus ~ label,
        input:valid ~ label {
          top: -10px;
          color: #3d5fa8;
          font-size: 14px;
        }
      }
      input[type="submit"]{
        font-size: 18px;
        padding: 12px 20px;
      }
    }
  }
}