$background:#af6936;
$text:#9e9e9e;
$intro-text:#24457e;
$span:#be6628;
$box-color:#19776a;
$text-nav:#24457e;
$nav-bar:#003500;
$background1:#35001E;
$background2:#0D0600;
$skill-item: #e7e4b2;
$skill:#009d3a;

//getting the font
@font-face {
  font-family: myfont;
  src: url('../Font/GothamBook.ttf');
}

//format bold style
@font-face {
  font-family: myfont;
  src: url('../Font/gothambold.ttf');
  font-weight: bold;
}

//global settings
html{
  scroll-behavior: smooth;
}

*{
  margin:0;
  padding:0;
  font-family: myfont, sans-serif;
  box-sizing: border-box;
}

section{
  height:100vh;
}

//styling the span
span{
  color:$nav-bar;
}

//for easier navigation
.hidden{
  opacity: 0;
  position: relative;
  z-index: -1;
  height:0;
}
//styling the face of the website
#intro{

  background: url('../img/webpic.jpg') no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  border-bottom:1px solid black;
  .img {
    .text{
      width:100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      position: absolute;
      text-align: center;

      i{
        top:50vh;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        position:absolute;
        color:$text;
        &:hover{
          color:$nav-bar;
          transition:1s;
        }
      }
      //seting the delay of each h1
      .animate1 {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -o-animation-delay: 0s;
        animation-delay: 0s;
      }
      .animate2 {
        -webkit-animation-delay: 500ms;
        -moz-animation-delay: 500ms;
        -o-animation-delay: 500ms;
        animation-delay: 500ms;
      }
      h1 {
        letter-spacing: 5px;
        line-height: 1.3;
        opacity: 0;
        -webkit-animation: reveal 2s normal forwards;
        -moz-animation: reveal 2s normal forwards;
        -o-animation: reveal 2s normal forwards;
        animation: reveal 2s normal forwards;
        color:#fff;
      }
    }
  }
}

//the effect
@keyframes reveal {
  0%{
    opacity: 0;
    -webkit-transform: translate(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

}

//Navigation bar
.nav-bar {
  top:0;
  opacity:0;
  position: fixed;
  height: 80px;
  width: 100%;
  background: #232323;
  display: inline-block;
  z-index: 1;
  transition: 1s;
  .left {
    a{
      text-decoration: none;
      &:visited{
        color:$text;
      }
    }

    opacity: .9;
    width: 50%;
    float: left;
    text-align: center;
    font-size:15px;
    h1 {
      text-transform: uppercase;
      padding: 20px;
      letter-spacing: 2px;
    }
  }
  .right {
    opacity: .9;
    font-size: 18px;
    width: 50%;
    float: right;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    list-style: none;


    li {
      height: 100px;
      width: 25%;
      display: inline-block;
      padding: 30px;
      vertical-align: middle;
      a {
        text-decoration: none;
        color: $text;
        text-transform: uppercase;
      }
      &:hover {
        a{
          color: $nav-bar;
        }

      }
    }

  }
}

//About section introducing
.about{
  //background: url('../img/about.jpg')no-repeat;
  //background-size:cover;
  //background-attachment:fixed;
  //background-position:center;
  background: #000;
  width:100%;
  margin:auto;
  position:relative;
  transition: 1s;
  .about-body{
    height:70%;
    width:60%;
    left:50%;
    -webkit-transform: translate(-50%,20%);
    -moz-transform: translate(-50%,20%);
    -ms-transform: translate(-50%,20%);
    -o-transform: translate(-50%,20%);
    transform: translate(-50%,20%);
    background: #fff;
    position:absolute;
    display:block;
    text-align: center;
    background:rgba(255,255,255,.2);
    border-radius:10px;

    img{
      border-radius: 50%;
      width:180px;
      height:180px;
      margin-top: 20px;
    }
    a{
      text-decoration: none;
      color:#fff;
      &:visited {
        color: #fff;
      }
    }
    p{
      color: #fff;
      font-size:25px;
      padding: 30px 220px;
    }

    h1{
      text-align: center;
      padding:40px 40px 0 40px;
      font-size: 40px;
      color:#fff;
      font-weight: lighter;
    }

    .about-left, .about-right{
      background:#000;
      border-radius: 5px;
      height:70px;
      width:200px;
      top:80%;
      &:hover{
        background:$text;
        p{
          color: $nav-bar;
        }
      }
      p {
        -webkit-transform: translateY(90%);
        -moz-transform: translateY(90%);
        -ms-transform: translateY(90%);
        -o-transform: translateY(90%);
        transform: translateY(90%);
        font-size: 20px;
        padding: 0;
      }
    }
    .about-left{
      position:absolute;
      float:left;
      left:25%;
      }
    }
    .about-right{
      position:absolute;
      float:right;
      left:58%;
    }
  }


//skill bars
.skills {
  background: url('../img/skill.jpg')no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  width:100%;
  top: 200%;
  .skills-body {
    height:100vh;
    width:800px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    margin:0 auto;
    h1{
      color:#f9f9f9;
      padding: 100px 0;
    }
    h3{
      margin: 0 0 20px 0;
      color:#fff;
    }

    .skill-item{
      padding:35px;
      opacity: 1;
      text-align: left;
      list-style:none;
      position:relative;
    }
    .bar{
      background: #353b48;
      width:80%;
      display:block;
      height:4px;
      opacity:0.5;
      border: 1px solid rgba(255,255,255,.5);
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 0 10px 2px $text;
      position:absolute;
    }
    .html{
      position:absolute;
      height:4px;
      background:$skill-item;
      width:75%;
      border-radius: 3px;
    }
    .style{
      position:absolute;
      height:4px;
      background:$skill-item;
      width:75%;
      border-radius: 3px;
    }
    .item3{
      position:absolute;
      height:4px;
      background:$skill-item;
      width:60%;
      border-radius: 3px;
    }
    .jquery{
      position:absolute;
      height:4px;
      background:$skill-item;
      width:40%;
      border-radius: 3px;
    }
    .photoshop{
      position:absolute;
      height:4px;
      background:$skill-item;
      width:55%;
      border-radius: 3px;
    }
    .illustrator{
      position:absolute;
      height:4px;
      background:$skill-item;
      width:55%;
      border-radius: 3px;
    }
    .git{
      position:absolute;
      height:4px;
      background:$skill-item;
      width:55%;
      border-radius: 3px;
    }
    .wordpress{
      position:absolute;
      height:4px;
      background:$skill-item;
      width:45%;
      border-radius: 3px;
    }
    .react{
      position:absolute;
      height:4px;
      background:$skill-item;
      width:50%;
      border-radius: 3px;
    }
    .left {
      width:45%;
      float: left;

    }
    .right {
      width:45%;
      float: right;
    }

  }
}

//styling the aside bar
aside{
  opacity:0;
  right:0;
  top:40vh;
  position:fixed;
  z-index: 1;
  margin-right:15px;
  font-size: 15px;
  i{
    padding:8px 0;
    color:#fff;
    &:hover{
      color:$text;
    }
  }
}

//contact section
.contact{
  height:50vh;
  background: #232323;
  position:relative;
  text-align: center;
  h1{
    position:absolute;
    top:10%;
    left:50%;
    color:$text;
    -webkit-transform: translate(-50%,-20%);
    -moz-transform: translate(-50%,-20%);
    -ms-transform: translate(-50%,-20%);
    -o-transform: translate(-50%,-20%);
    transform: translate(-50%,-20%);
  }
  .info{
    width:600px;
    height:250px;
    top:200px;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position:absolute;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
    h2{
      color:$text;
    }
    .button{
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 2px;
      cursor:pointer;
      width:30%;
      border-radius: 5px;
      &:hover{
        background: #fff;
        color:#000;
      }
    }
    input, textarea{
      padding:0 10px;
      color:#fff;
      border:none;
      background:#545454;
    }
  }
}

//footer of the page
footer{
  background:#000;
  height:60px;
  text-align: center;
  padding:20px;
  a{
    color:$nav-bar;
    text-decoration: none;
    &:visited{
      color: $nav-bar;
    }
    &:hover{
      color: $text;
    }
  }
}

//setting for tablets
@media (max-width:1450px) {
  section{
    height:1000px;
  }
  .skills{
    .skills-body{
      height:100%;
      max-width:75%;
      margin: 0 auto;
      h1{
        padding: 150px 0 50px 0;
        font-size:23px;
      }
      .right{
        padding-right:20px;
      }
      .skill-item{
        h3{
          font-size: 16.5px;
        }
      }
    }
  }

  .nav-bar{
    .left{
      h1{
        font-size:20px;
        padding: 26px 20px;
      }
    }
    .right{
      .skill-item{
        margin-right:10px;
      }
      li{
        font-size: 15px;
        text-align: center;
        width: 22%;

        a{

        }
      }

    }
  }
  .about{
    .about-body{
      width: 70%;
      height:80%;
      -webkit-transform: translate(-50%,13%);
      -moz-transform: translate(-50%,13%);
      -ms-transform: translate(-50%,13%);
      -o-transform: translate(-50%,13%);
      transform: translate(-50%,13%);
      p{
        font-size: 22px;
        padding: 70px;
      }
      .about-left{
        float: none;
        width:50%;
        top:75%;
        left:25%;
        border-radius: 5px;
      }
      .about-right{
        float:none;
        width:50%;
        top:85%;
        left:25%;
        border-radius: 5px;
      }
      h1{
        font-size: 35px;
      }
    }
  }
  aside{
    font-size:15px;
  }
  .contact{
    h1{
      font-size: 24px;
    }
    .container{
      h2{
        padding-bottom: 20px;
        font-size:28px;
      }
    }
  }
}

//setting for phone devices
@media(max-width: 600px){
  section{
    height:800px;
  }
  #intro{
    height:100vh;
    .img{
      .text{
        h1{
          font-size:25px;
          line-height: 1;
          padding:15px 20px;
        }
        i{
          font-size:45px;
        }
      }
    }
  }

  .nav-bar{
    height:120px;
    .left,.right{
      width:100%;
      float:none;
    }
    .left{

      h1{
        font-size:20px;
        padding:26px 26px 18px 26px;

      }
    }
    .right{
      li{
        width:25%;
        padding: 0 20px 0 0;
        height:50px;
        font-size:15px;
      }
    }
  }

  .about{
    height: 700px;
    .about-body{
      min-width: 75%;
      img{
        width:120px;
        height:120px;
      }
      p{
        font-size: 15px;
        padding: 40px 30px;
      }
      h1{
        font-size:25px;
        }
      .about-left,.about-right{
        width: 40%;
        height:50px;
        left:30%;
        p{
          font-size:12px;
          padding-top:3px;
        }
      }
      .about-left{
        top: 79%;
      }
      .about-right{
        top: 88%;
      }

    }
  }

  .skills{
    .skills-body{
      height:100%;
      h1{
        padding: 100px 0 40px 0;
        font-size: 18px;
      }
      .left,.right{
        float: none;
        width:100%;
        padding-right: 20px;
        .skill-item{
          padding: 18px 35px;
          h3{
            font-size: 13px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .contact{
    height: 300px;
    h1{
      font-size: 18px;
      line-height: 1.2;
    }
    width:100%;
    .container{
      h2{
        font-size: 18px;
      }
      .info{
        height: 180px;
        top:55%;
        width:80%;
        font-size: 15px;
        .button{
          font-size: 12px;
          border-radius: 3px;
          letter-spacing: 0.8px;
          height:20px;
        }
      }
    }
  }

  aside{
    font-size: 10px;
    margin:0;
    i{
      padding:5px;
    }
  }
  footer{
    font-size: 13px;
    height:50px;
    padding: 15px;
  }
}