.spinner {
  background: #f9f9f9;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 9999;
  position: fixed; }
  .spinner .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .spinner .wrapper i {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #009d3a;
      animation: rotating 2.5s infinite; }
    .spinner .wrapper h3 {
      overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      line-height: 2.5rem;
      color: #009d3a;
      border-right: 0.1em solid #009d3a;
      /* The typwriter cursor */
      white-space: nowrap;
      /* Keeps the content on a single line */
      margin: 0 auto;
      /* Gives that scrolling effect as the typing happens */
      letter-spacing: .1em;
      /* Adjust as needed */
      animation: typing 1s steps(40, end), blink-caret 0.5s step-end infinite; }

/* The typing effect */
@keyframes typing {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #009d3a; } }
@keyframes rotating {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(-360deg); } }
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  box-sizing: border-box;
  letter-spacing: 1.2px; }

body {
  height: 100vh;
  background: #56ab2f no-repeat;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top right, #56ab2f 30%, #a8e063);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top right, #56ab2f 30%, #a8e063);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.lighter {
  height: 70px;
  text-align: center;
  background: #fff;
  padding: 15px;
  color: #56ab2f; }

.container {
  text-align: center;
  color: #fff;
  margin: auto; }
  .container .intro {
    padding: 100px; }
    .container .intro #message {
      position: absolute;
      left: 50%;
      top: 10%;
      transform: translateX(-50%); }
    .container .intro #second {
      color: #009d3a; }
    .container .intro .wordDisplay {
      padding: 30px;
      font-size: 50px; }
    .container .intro input {
      border-radius: 5px;
      height: 40px;
      width: 500px;
      text-indent: 15px; }
    .container .intro .counter {
      padding: 40px; }
    .container .intro .instruction {
      position: absolute;
      width: 400px;
      left: 50%;
      top: 600px;
      transform: translate(-50%, -50%);
      font-size: 20px; }

@media (max-width: 900px) {
  body {
    height: 100vh; }

  .container .intro {
    padding: 100px 50px; }
    .container .intro input {
      width: 300px; }
    .container .intro .instruction {
      width: 300px; } }
@media (max-width: 500px) {
  body {
    height: 100vh; }

  .lighter {
    height: 40px;
    padding: 3px; }
    .lighter h1 {
      font-size: 25px; }

  .container .intro {
    padding: 30px 50px; }
    .container .intro .wordDisplay {
      font-size: 40px;
      padding: 15px 30px; }
    .container .intro input {
      width: 200px; }
    .container .intro #message {
      top: 40px; }
    .container .intro .instruction {
      width: 300px;
      top: 450px; }
      .container .intro .instruction p {
        font-size: 14px; } }

/*# sourceMappingURL=wordTyper.css.map */
